<!DOCTYPE html>
<html lang="en">
<head>
   {{>headerlinks}}
   
</head>
<body>
            <!-- Bootstrap -->
{{>navbar}}

    <!-- Main Header -->
<div class="container-fluid main_header">
    <div class="row">
        <div class="col-md-10 col-12 mx-auto">
            <div class="row">
                 <!-- Roght side div -->
                <div class="col-md-12 col-12 main_header_right align-items-center">
                    <figure class="errimg">
                        <img src="images/pic5.jpg" alt="sumit" class="img-fluid" title="sumit kushwah">
                    </figure>
                    <p>Welcome to Weather app</p>
                    <h1>oops <span class="text-clr">{{errormsg}}</span> </h1>
                    <a href="/"><button>Home</button></a>
                </div>  


                
                 

            </div>
        </div>
    </div>
</div>        

<!-- Footer -->
{{>footer}}
</body>
</html>