<!DOCTYPE html>
<html lang="en">
<head>
   {{>headerlinks}}
   
</head>
<body>
            <!-- Bootstrap -->
{{>navbar}}

    <!-- Main Header -->
<div class="container-fluid main_header">
    <div class="row">
        <div class="col-md-10 col-12 mx-auto">
            <div class="row">
                 <!-- Roght side div -->
                <div class="col-md-6 col-12 main_header_right align-items-center">
                    <figure>
                        <img src="images/pic1.jpg" alt="sumit" class="img-fluid" title="sumit kushwah">
                    </figure>
                    
                </div>  


                <!-- Left side div -->
                <div class="col-md-6 col-12 main_header_left ">
                    <p>Welcome to Weather app</p>
                    <h1>I am <span class="text-clr">Sumit kushwah</span> as a computer science engineer</h1>
                    <a href="https://www.linkedin.com/in/sumit-kushwah-8a6a988a/"><button>About me</button></a>


                </div>
                 

            </div>
        </div>
    </div>
</div>        

<!-- Footer -->
{{>footer}}
</body>
</html>